<h1>Login</h1>
<%if(messages.error){%>
<%=messages.error%>
<% } %>
<form action="/login" method="POST">
<div>
    <label for="email">Email : </label>
    <input type="text" name="email" value="">
</div>
<div>
    <label for="password">Password : </label>
    <input type="password" name="password" value="">
</div>
<button type="submit">Login</button>
</form>
New User?<a href="/register">Register Here.</a>