<h1>Register</h1>
<form action="/register" method="POST">
<div>
    <label for="name">Name : </label>
    <input type="text" name="name" value="">
</div>
<div>
    <label for="email">Email : </label>
    <input type="text" name="email" value="">
</div>
<div>
    <label for="password">Password : </label>
    <input type="password" name="password" value="">
</div>
<button type="submit">Register</button>
</form>
Old User?<a href="/login">Login Here.</a>